
{% load static %}
<!DOCTYPE html>
<html lang="en">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 display=swap' %}" rel="stylesheet">

    <title>E-HUB</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a  class="navbar-brand" href={% url 'index'%}>
 <!-- Add this line with your image path -->
            <h2 >E <em>HUB</em></h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href={% url 'index'%}>Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products'%}">Our Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'about'%}>About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'login'%}>Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text" >
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01" style="cursor: pointer;">
          <div class="text-content">
            <h4>AN EVENT HUB</h4>
            <h2>HACKATHON WEBSITE</h2>
          </div>
        </div>
        <div class="banner-item-02" style="cursor: pointer;">
          <div class="text-content">
            <h4>POINTS</h4>
            <h2>Get POINTS FOR EVERY HACKATHON AND WIN COOL PRIZES</h2>
          </div>
        </div>
        <div class="banner-item-03" style="cursor: pointer;">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute tickets</h2>
          </div>
        </div>
      </div>
    </div> 
        
    <!-- Banner Ends Here -->


    <style>
      .product-item {
      transition: transform .2s; /* Add transition for a smooth zoom-in effect */
    }
    
    .product-item:hover {
      box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
    }
    
    .product-item img {
      transition: transform .3s; /* Add transition for a smooth zoom-in effect */
    }
    
    .product-item:hover {
      transform: scale(1.050); /* Zoom-in the image on hover */
    }
    .product-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 0px; /* Set the gap between rows and columns */
    }
    
    .product-item {
      flex: 1 0 30%; /* Set the item width to 30% of the container width */
      margin-bottom: 20px; /* Add some margin at the bottom of each item */
    }
    </style>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>UPCOMING EVENTS</h2>
              <a href="products.html">view all EVENTS <i class="fa fa-angle-right"></i></a>
            </div>
          </div>




          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/hellowor.jpeg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>GDSC MLRIT</h4></a>
                <h6>400₹/person</h6>
                <p><B>HELLO WORLD</B> AN EVENT CONDUCTED BY GDSC MLRIT. </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/scopee.jpg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>SCOPE MLRIT</h4></a>
                <h6>600₹/person</h6>
                <p>WEBMAINA AN EVENT FOR WEB DEVLOPMENT.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/aim.jpeg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>AIML MLRIT</h4></a>
                <h6>300₹/person</h6>
                <p>A GEN AI COURSE .</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/dfvs.jpeg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>SCOPE MLRIT</h4></a>
                <h6>600₹/person</h6>
                <p>WEBMAINA AN EVENT FOR WEB DEVLOPMENT.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/ace.jpeg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>ACE ENGG</h4></a>
                <h6>500₹/person</h6>
                <p>ENLIGTHEN YOUR APTITUDE SKILLS.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/lit.webp" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>CLUB LITERATI</h4></a>
                <h6>800₹/person</h6>
                <p>AN TALKMASTER SESSION IS NEAR GET READY FOR IT.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>

          <br/>
          <br/>

          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/thub.jpg" %%} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>T-HUB</h4></a>
                <h6>0₹/team</h6>
                <p>A MIND BENDING WORKSHOP ABOUT AIML BY SAM ALTMAN .</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}" ><img src={% static "assets/images/harvv.jpg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>HARVARD UNIVERSITY</h4></a>
                <h6>10000₹</h6>
                <p>A MIND BENDING MACHINE LEARNING EVENT FROM ALL AROUND WORLD.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="{% url 'contact' %}"><img src={% static "assets/images/cummm.jpg" %} height="430px" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>CAME CLUB</h4></a>
                <h6>1000₹/person</h6>
                <p>CAMECLUB EVENT IS ON THE WAY BUCKLE UPP.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>MAX_REG : 200</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About E-HUB</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for EVENTS?</h4>
              <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">E HUB</a> is free to use website where students tech enthusiast can know all the events thats happening all around the world u can regeister through our platform. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href={% static "about" %}class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src={% static "assets/images/feature-image.jpg" %} alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>



    <!-- Additional Scripts -->
    <script src="{% static "assets/js/custom.js" %}"></script>

    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
