<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/SSSS.css' %}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <title>EHUB - About Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    
        <title>Sign In/Sign Up</title>
    </head>
    <body>
        <header class="">
            <nav class="navbar navbar-expand-lg">
              <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><h2>E <em>HUB</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}">Our Events</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href={% url 'login'%}>login</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </nav>
          </header>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img src="{% static 'assets/images/lady.svg' %}" alt="">
                </div>

                <div class="login__forms">
                    <form action="" class="login__registre" id="login-in">
                        <h1 class="login__title">Sign In</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Email" id="email"  class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Password" id="password" class="login__input">
                        </div>

                        <a href="#" class="login__forgot">Forgot password?</a>

                        <a href="{% url 'home' %}" class="login__button" onclick="auth()">Sign In</a>
                        <div>
                            <span class="login__account">Don't have an Account ?</span>
                            <span class="login__signin" id="sign-up">Sign Up</span>
                        </div>
                    </form>

                    <form action="" class="login__create none" id="login-up">
                        <h1 class="login__title">Create Account</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Username" class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" placeholder="Email" class="login__input">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Password" class="login__input">
                        </div>

                        <a href="#" class="login__button">Sign Up</a>

                        <div>
                            <span class="login__account">Already have an Account ?</span>
                            <span class="login__signup" id="sign-in">Sign In</span>
                        </div>

                        <div class="login__social">
                            <a href="#" class="login__social-icon"><i class='bx bxl-facebook' ></i></a>
                            <a href="#" class="login__social-icon"><i class='bx bxl-twitter' ></i></a>
                            <a href="#" class="login__social-icon"><i class='bx bxl-google' ></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script>
            function auth(){
                var email=document.getElementById("email").value;
                var password=document.getElementById("password").value;
                if(email=="bhanu@gmail.com" && password=="123456"){
                    window.location.assign("home.html");
                }else{
                    alert("invalid crendentials!");
                }
            }
        </script>
 
    </body>
</html>